{ pkgs, ... }:

{
  home.homeDirectory = "{{ .chezmoi.homeDir }}";

  home.packages = with pkgs; [
    # macOS-specific packages
    emacs                  # stable (NS/AppKit) + native-comp
    # emacs-unstable       # latest tag (overlay)
    # emacs-git            # master HEAD (overlay)
    # emacs-macport        # Mitsuharu port (nixpkgs)
  ];
}
