{ pkgs, ... }:

{
  home.homeDirectory = "{{ .chezmoi.homeDir }}";

  targets.genericLinux.enable = true;

  home.packages = with pkgs; [
    # Linux-specific packages
    emacs-pgtk             # stable (currently 30.x) + native-comp + Wayland
    # emacs-unstable-pgtk  # latest tag (e.g. 31 pretest) + pgtk
    # emacs-git-pgtk       # master HEAD + pgtk
  ];
}
