[Unit]
Description=Clipboard history (cliphist) - image watcher
PartOf=graphical-session.target
After=graphical-session.target

[Service]
ExecStart=%h/.nix-profile/bin/wl-paste --type image --watch %h/.nix-profile/bin/cliphist store
Restart=on-failure

[Install]
WantedBy=graphical-session.target
