[submodule ".emacs.d/elisp/nano-emacs"]
	path = .emacs.d/elisp/nano-emacs
	url = https://github.com/rougier/nano-emacs.git
[submodule ".emacs.d/elisp/flymake-posframe"]
	path = .emacs.d/elisp/flymake-posframe
	url = https://github.com/Ladicle/flymake-posframe.git
[submodule ".tmux/plugins/tpm"]
	path = .tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
[submodule ".emacs.d/elisp/ddskk-posframe"]
	path = .emacs.d/elisp/ddskk-posframe
	url = https://github.com/conao3/ddskk-posframe.el.git
[submodule ".emacs.d/elisp/bespoke-theme"]
	path = .emacs.d/elisp/bespoke-theme
	url = https://github.com/mclear-tools/bespoke-themes.git
[submodule "bespoke-theme"]
	path = .emacs.d/elisp/bespoke-theme
	url = https://github.com/mclear-tools/bespoke-themes.git
[submodule ".emacs.d/elisp/emacs-webkit"]
	path = .emacs.d/elisp/emacs-webkit
	url = https://github.com/akirakyle/emacs-webkit.git
[submodule ".emacs.d/elisp/org-roam-ui"]
	path = .emacs.d/elisp/org-roam-ui
	url = git@github.com:org-roam/org-roam-ui.git
[submodule ".emacs.d/elisp/vertico"]
	path = .emacs.d/elisp/vertico
	url = https://github.com/minad/vertico.git
[submodule ".emacs.d/elisp/emacs-application-framework"]
	path = .emacs.d/elisp/emacs-application-framework
	url = https://github.com/emacs-eaf/emacs-application-framework.git
[submodule ".emacs.d/elisp/bespoke-themes"]
	path = .emacs.d/elisp/bespoke-themes
	url = https://github.com/mclear-tools/bespoke-themes.git
[submodule ".emacs.d/elisp/bespoke-modeline"]
	path = .emacs.d/elisp/bespoke-modeline
	url = https://github.com/mclear-tools/bespoke-modeline.git
[submodule ".emacs.d/elisp/eshell-p10k"]
	path = .emacs.d/elisp/eshell-p10k
	url = https://github.com/elken/eshell-p10k.git
[submodule ".emacs.d/elisp/lin"]
	path = .emacs.d/elisp/lin
	url = https://github.com/protesilaos/lin.git
[submodule ".emacs.d/elisp/elisp-tree-sitter"]
	path = .emacs.d/elisp/elisp-tree-sitter
	url = https://github.com/emacs-tree-sitter/elisp-tree-sitter.git
[submodule ".emacs.d/elisp/vundo"]
	path = .emacs.d/elisp/vundo
	url = https://github.com/casouri/vundo.git
