/*

!/.git*
!/README.md

!/Brewfile
!/.mackup*
!/.mackup/
!/.ssh/

!/.tmux/
!/.tmux*

!/.config/
/.config/fish/fish_variables

!/Library/
/Library/*
!/Library/Workflows/

!/.emacs.d/
/.emacs.d/*
!/.emacs.d/init.el
!/.emacs.d/el-get/
!/.emacs.d/snippets/