/*
/.**

!Makefile
!/etc/
!/bin/

!/.git*
!/README.md

## dotfiles
!/.Brewfile

!/.tmux*

!/.config/
/.config/fish/fish_variables

!/Library/
/Library/*
!/Library/Workflows/
!/Library/Workflows/**

!/.emacs.d/
/.emacs.d/*
!/.emacs.d/init.el
!/.emacs.d/el-get/
!/.emacs.d/el-get/**
!/.emacs.d/snippets/
!/.emacs.d/snippets/**

/**/.DS_Store