/*
/.**

!Makefile
!/etc/
!/bin/

!/.git*
!/README.md

## dotfiles
!/.Brewfile
!/.dir_colors
!/.hammerspoon/
!/.hammerspoon/init.lua
!/.latexmkrc
!/.mbsyncrc
!/.tmux.conf
!/.tmux/
!/.tmux/plugins/
!/.tmux/plugins/tpm/

!/.config/
!/.config/alacritty/
!/.config/alacritty/**
!/.config/fish/
!/.config/fish/*.fish
!/.config/ranger/
!/.config/ranger/**
!/.config/skhd/
!/.config/skhd/**
!/.config/yabai/
!/.config/yabai/**

!/.config/karabiner/
!/.config/karabiner/**
!/.config/iterm2/
!/.config/iterm2/AppSupport/
!/.config/iterm2/AppSupport/**/*.json
!/.config/iterm2/AppSupport/**/*.plist

!/.ssh/
/.ssh/*
!/.ssh/config

## Emaacs
!/.emacs.d/
!/.emacs.d/banner/
!/.emacs.d/banner/**
!/.emacs.d/init.el
!/.emacs.d/early-init.el
!/.emacs.d/Emacs.org
!/.emacs.d/elisp/
!/.emacs.d/elisp/**
!/.emacs.d/emacs_patches/
!/.emacs.d/emacs_patches/**
!/.emacs.d/skk-get-jisyo/
!/.emacs.d/skk-get-jisyo/SKK-JISYO.Huge.utf8
!/.emacs.d/snippets/
!/.emacs.d/snippets/**

## Linux
!/.config/i3/
!/.config/i3/**
!/.config/manjaro/
!/.config/manjaro/**
!/.config/mimeapps.list
!/.config/polybar/
!/.config/polybar/**

## Others
/**/.DS_Store
/**/*~
/**/*.lock
