[language-server.gql-ls]
command = "graphql-lsp"
args = ["server", "--method", "stream"]

[[language]]
name = "graphql"
file-types = ["gql", "graphql"]
roots = ["graphql.config.ts", "graphql.config.js", ".graphqlrc", ".graphqlrc.yml", ".graphqlrc.js", ".graphqlrc.ts", ".graphqlrc.yaml", ".graphqlrc.json", ".graphqlrc.toml", "graphql.config.json", "graphql.config.toml"]
language-servers = ["gql-ls"]

[language-server.gopls]
command = "gopls"

[language-server.gopls.config]
buildFlags = ["-tags=integration"]

[[language]]
name = "go"
file-types = ["go"]
roots = ["go.mod"]
language-servers = [ "gopls" ]

[language-server.vtsls-vue]
command = "vtsls"
args = ["--stdio"]

[language-server.vtsls-vue.config.typescript]
tsserver = { log = "off", maxTsServerMemory = 3072 }
suggest = { completeFunctionCalls = true }
format = { enable = false }

[language-server.vtsls-vue.config.javascript]
suggest = { completeFunctionCalls = true }
format = { enable = false }

[language-server.vtsls-vue.config.vtsls.tsserver]
globalPlugins = [
  { name = "@vue/typescript-plugin", location = "/usr/local/lib/node_modules/@vue/typescript-plugin", languages = ["vue"], enableForWorkspaceTypeScriptVersions = true, configNamespace = "typescript" }
]

[language-server.vue-language-server]
command = "vue-language-server"
args = ["--stdio"]
config.typescript = { tsdk = "/usr/local/lib/node_modules/typescript/lib" }
config.vue = { hybridMode = false }

[[language]]
name = "vue"
roots = ["package.json"]
language-id = "vue"
file-types = ["vue"]
language-servers = [
  { name = "vue-language-server", except-features = ["goto-definition", "goto-implementation", "goto-type-definition", "goto-declaration", "goto-reference"] },
  "vtsls-vue"
]

[language-server.html-server]
command = "vscode-html-language-server"
args = ["--stdio"]

[language-server.html-server.config]
provideFormatter = true

[[language]]
name = "html"
language-id = "html"
file-types = ["html"]
roots = ["package.json"]
language-servers = [
    "html-server",
    { name = "typescript-language-server", except-features = [
        "format",
    ]},
]

[language-server.oxlint-ls]
command = "oxlint"
args = ["--lsp"]

[language-server.tsgo-ls]
command = "/Users/naoki.sakamoto/src/github.com/microsoft/typescript-go/built/local/tsgo"
args = ["--lsp", "--stdio"]

[[language]]
name = "tsx"
language-id = "typescriptreact"
file-types = ["tsx"]
roots = ["package.json"]
language-servers = [
  { name = "tsgo-ls", support-workspace = ["package.json"] },
  { name = "eslint", support-workspace = true, config-files = [
    ".eslintrc.js", ".eslintrc.cjs", ".eslintrc.yaml", ".eslintrc.yml", ".eslintrc", ".eslintrc.json", "eslint.config.js", "eslint.config.mjs", "eslint.config.cjs", "eslint.config.ts", "eslint.config.mts", "eslint.config.cts"
  ] },
  { name = "tailwindcss-ls", support-workspace = true, config-files = [
    "tailwind.config.js",
  ] },
  { name = "oxlint-ls", support-workspace = true, config-files = [
    ".oxlintrc.json"
  ] },
  { name = "gql-ls", support-workspace = true },
]

[language-server.protobuf-lsp]
command = "protobuf-language-server"
args = ["-stdio"]

[[language]]
name = "proto"
language-id = "proto"
file-types = ["proto"]
language-servers = ["protobuf-lsp"]