/* =============================================================================
 *
 * Waybar configuration
 *
 * Configuration reference: https://github.com/Alexays/Waybar/wiki/Configuration
 *
 * =========================================================================== */

/* Define variables */
@define-color nord0 #2E3440;
@define-color nord1 #3B4252;
@define-color nord2 #434C5E;
@define-color nord3 #4C566A;

/* Snow Storm */
@define-color nord4 #D8DEE9;
@define-color nord5 #E5E9F0;
@define-color nord6 #ECEFF4;

/* Frost */
@define-color nord7 #8FBCBB;
@define-color nord8 #88C0D0;
@define-color nord9 #81A1C1;
@define-color nord10 #5E81AC;

/* Aurora */
@define-color nord11 #BF616A;
@define-color nord12 #D08770;
@define-color nord13 #EBCB8B;
@define-color nord14 #A3BE8C;
@define-color nord15 #B48EAD;

@define-color bg-color @nord1;
@define-color fg-color @nord6;


/* -----------------------------------------------------------------------------
 * Keyframes
 * -------------------------------------------------------------------------- */

/* General Configuration */
* {
  border: none;
  border-radius: 0;
  min-height: 0;
  margin: 0;
  padding: 0;
  font-family: "PlemolJP Console NF", sans-serif;
}

/* The whole bar */
#waybar {
    background: @bg-color;
    color: @fg-color;
    transition-property: background-color;
    transition-duration: 0.5s;
    font-size: 15px;
}

#waybar.hidden {
    opacity: 0.2;
}

/* Modules Configuration */

/* set default */
#bluetooth,
#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#custom-pacman,
#custom-menu,
#custom-help,
#custom-scratchpad,
#custom-clipboard,
#custom-media,
#custom-sunset,
#custom-playerctl,
#language,
#tray,
#mode,
#idle_inhibitor {
    padding: 0px 15px;
    margin: 5px 0px;
    border-radius: 5px;
}

#cpu,
#memory,
#temperature {
    min-width: 50px;
}

#window,
#workspaces,
#custom-media {
  margin: 0 0px;
}

.modules-left > widget:first-child > #workspaces {
  margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
  margin-right: 0;
}

/* -----------------------------------------------------------------------------
 * Module styles
 * -------------------------------------------------------------------------- */

#mode {
    background: @nord10;
    /* color: @bg-color; */
}

#clock {
  background-color: @fg-color;
  color: @bg-color;
  margin: 5px;
  font-size: 18px;
}


#battery {
    background-color: @nord4;
    color: @nord1;
}

#battery.charging, #battery.plugged {
    color: @nord0;
    background-color: @nord14;
}

@keyframes blink {
    to {
        background-color: #d2ced9;
        color: #000000;
    }
}

#battery.critical:not(.charging) {
    background-color: #d9989c;
    color: #d2ced9;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

label:focus {
    background-color: #000000;
}

#window {
    font-weight: bold;
    margin-right: 25px;
    color: @nord6;
}

#custom-pacman {
  margin: 0px;
}

#workspaces {
    padding: 0px 0px;
}

#workspaces button {
    padding: 0px 15px;
    color: @nord6;
    font-weight: bold;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
#workspaces button:hover {
  background-color: @nord12;
}

#workspaces button.focused {
  background-color: @nord8;
}

#workspaces button.urgent {
  color: @nord12;
}

#cpu {
  background-color: @nord7;
  color: @nord0;
}

#cpu.warning {
    color: @nord13;
}

#cpu.critical {
    color: @nord11;
}

#memory {
    background-color: @nord8;
    color: @nord0;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#memory.warning {
    color: @nord13;
}

#memory.critical {
    color: @nord11;
    animation-name: blink-critical;
    animation-duration: 2s;
}

#temperature {
    background-color: @nord9;
    color: @nord0;
}

#temperature.critical {
    background-color: @nord11;
}

#custom-menu {
    background-color: @nord14;
    padding-left: 10px;
    padding-right: 14px;
}

#disk {
  background-color: #a5cec7;
  color: #1c1921;
  margin-right: 10px;
  margin-left: 0px;
  /* border-radius: 5px; */
  /*  background-color: #964B00;*/
  /*  background-color: #50fa7b;*/
  /*  background-color: #50fa7b;*/
}

#pulseaudio {
  background-color: @nord13;
  color: @nord0;
}

#network {
  background-color: @nord13;
  color: @nord0;
  margin-right: 10px;
  margin-left: 0px;
}

#custom-media {
  /*  color: #afd9ad;*/
  /*  color: #2a5c45;*/
  /*  border-radius: 30;*/
  padding: 0 15px;
}

#custom-media.custom-spotify {
  /*  color: #afd9ad;*/
}

/*
#custom-media.custom-vlc {
    background-color: #ffa000;
}
*/

#idle_inhibitor {
  margin-right: 20px;
}

#idle_inhibitor.activated {
  background-color: @nord4;
  color: @nord0;
}

/*
#mpd {
    background-color: #66cc99;
    color: #2a5c45;
}

#mpd.disconnected {
    background-color: #d9989c;
}

#mpd.stopped {
    background-color: #90b1b1;
}

#mpd.paused {
    background-color: #51a37a;
}
*/

#language {
  /*  background: #00b093;*/
  /*  color: #740864;*/
  color: #d2ced9;
  /*  border-radius: 30;*/
  padding: 0 0px;
  padding-right: 15px;
  /*border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;*/
  min-width: 27px;
}

#tray {
  margin: 0px;
}

#custom-playerctl {
    background: @nord12;
    color: @nord6;
}

#bluetooth {
    background: @nord10;
    color: @nord6;
}
