/* =============================================================================
 *
 * Waybar configuration
 *
 * Configuration reference: https://github.com/Alexays/Waybar/wiki/Configuration
 *
 * =========================================================================== */

/* import css definitions for current theme */

/* -----------------------------------------------------------------------------
 * Keyframes
 * -------------------------------------------------------------------------- */

/* General Configuration */
* {
  border: none;
  border-radius: 0;
  min-height: 0;
  margin: 0;
  padding: 0;
  font-family: "PlemolJP Console NF", sans-serif;
}

/* The whole bar */
#waybar {
    background: #2E3440;
    color: #ECEFF4;
    transition-property: background-color;
    transition-duration: 0.5s;
    font-size: 15px;
}

#waybar.hidden {
    opacity: 0.2;
}

/* window#waybar { */
/*     background-color: #2E3440; */
/*     /\*  border: 2px solid #5e5662;*\/ */
/*     color: #ECEFF4; */
/*     /\* box-shadow: 3px 2px 2px red;*\/ */
/*     transition-property: background-color; */
/*     transition-duration: 0.5s; */
/*     /\*  border-radius: 30;*\/ */
/* } */

/* window#waybar.hidden { */
/*   opacity: 0.2; */
/* } */

/*

window#waybar.empty {
    background-color: transparent;
}
window#waybar.solo {
    background-color: #d2ced9;
}

window#waybar.tilix {
    background-color: #3F3F3F;
}

window#waybar.firefox {
    background-color: #000000;
    border: none;
}*/


/* Modules Configuration */

/* set default */
#bluetooth,
#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#custom-pacman,
#custom-menu,
#custom-help,
#custom-scratchpad,
#custom-github,
#custom-clipboard,
#custom-media,
#custom-sunset,
#custom-playerctl,
#language,
#tray,
#mode,
#idle_inhibitor {
  padding: 1px 15px;
  /*  margin: 0 4px;*/
}

#cpu,
#temperature,
#memory,
#disk,
#network,
#pulseaudio {
  margin: 10px 0px;
}

#window,
#workspaces,
#custom-media {
  margin: 0 0px;
}

.modules-left > widget:first-child > #workspaces {
  margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
  margin-right: 0;
}

/* -----------------------------------------------------------------------------
 * Module styles
 * -------------------------------------------------------------------------- */

#mode {
  background: #8a8299;
  margin: 10px;
  border-radius: 5px;
  color: #292433;
  /*  border-bottom: 3px solid #d2ced9; */
}

#clock {
  background-color: #D8DEE9;
  color: #1c1921;
  margin: 10px;
  border-radius: 5px;
  font-size: 18px;
}


#battery {
    background-color: #d2ced9;
    color: #000000;
}

#battery.charging, #battery.plugged {
    color: #d2ced9;
    background-color: #26A65B;
}

@keyframes blink {
    to {
        background-color: #d2ced9;
        color: #000000;
    }
}

#battery.critical:not(.charging) {
    background-color: #d9989c;
    color: #d2ced9;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

label:focus {
    background-color: #000000;
}

#window {
    font-weight: bold;
    margin-right: 25px;
    color: #ECEFF4;
    /* padding: 0 15px; */
}

#custom-pacman {
  /*  background-color: #625866;*/
  /*  border-radius: 25;*/
  margin: 0px;
}

#workspaces {
  border-radius: 15px;
  padding: 2px 0px;
}

#workspaces button {
    padding: 0px 15px;
    color: #ECEFF4;
    font-weight: bold;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
#workspaces button:hover {
  background-color: #D08770;
}

#workspaces button.focused {
  background-color: #5E81AC;
}

#workspaces button.urgent {
  color: #d9989c;
}

#cpu {
  background-color: #e6bbbe;
  color: #1c1921;
  border-radius: 5px;
  margin-right: 10px;
  margin-left: 10px;
}

#cpu.warning {
    color: #EBCB8B;
}

#cpu.critical {
    color: #BF616A;
}

#temperature {
  background-color: #e4d7a4;
  color: #1c1921;
  margin-right: 10px;
  margin-left: 0px;
  border-radius: 5px;
}

#temperature.critical {
    background-color: #BF616A;
}

#custom-menu {
    background-color: #A3BEBC;
    padding-left: 10px;
    padding-right: 14px;
}

#memory {
    background-color: #b8d2aa;
    color: #1c1921;
    margin-right: 10px;
    margin-left: 0px;
    border-radius: 5px;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#memory.warning {
    color: #EBCB8B;
}

#memory.critical {
    color: #BF616A;
    animation-name: blink-critical;
    animation-duration: 2s;
}

#disk {
  background-color: #a5cec7;
  color: #1c1921;
  margin-right: 10px;
  margin-left: 0px;
  border-radius: 5px;
  /*  background-color: #964B00;*/
  /*  background-color: #50fa7b;*/
  /*  background-color: #50fa7b;*/
}

#network {
  background-color: #c5c5e6;
  color: #1c1921;
  margin-right: 10px;
  margin-left: 0px;
  border-radius: 5px;
  /*  background-color: #2980b9;*/
  /*  background-color: #8be9fd;*/
  /*  background-color: #d9c77e;*/
}

#network.disconnected {
  /*  background-color: #d9989c;*/
}

/*
#backlight {
    background-color: #90b1b1;
}
#custom-brightness {
    background-color: #eba0aa;
}
*/

#pulseaudio {
  background-color: #b7aad2;
  color: #1c1921;
  margin-right: 10px;
  margin-left: 0px;
  border-radius: 5px;
  /*  border-top-right-radius: 30;
    border-bottom-right-radius: 30;*/
  /*border-bottom-right-radius: 30;*/
}

#pulseaudio.muted {
  /*  background-color: #afd9ad;*/
  /*  color: #2a5c45;*/
}

#custom-media {
  /*  color: #afd9ad;*/
  /*  color: #2a5c45;*/
  /*  border-radius: 30;*/
  padding: 0 15px;
}

#custom-media.custom-spotify {
  /*  color: #afd9ad;*/
}

/*
#custom-media.custom-vlc {
    background-color: #ffa000;
}
*/

#idle_inhibitor {
  /*  border-radius: 30;*/
  padding: 6px;
  margin-right: 12px;
  min-width: 30px;
}

#idle_inhibitor.activated {
  background-color: #d2ced9;
  color: #1c1921;
  /*  border-radius: 30;*/
  padding: 12px;
  margin-right: 0px;
}

/*
#mpd {
    background-color: #66cc99;
    color: #2a5c45;
}

#mpd.disconnected {
    background-color: #d9989c;
}

#mpd.stopped {
    background-color: #90b1b1;
}

#mpd.paused {
    background-color: #51a37a;
}
*/

#language {
  /*  background: #00b093;*/
  /*  color: #740864;*/
  color: #d2ced9;
  /*  border-radius: 30;*/
  padding: 0 7px;
  padding-right: 15px;
  /*border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;*/
  min-width: 27px;
}

#tray {
  margin: 0px;
}
